<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659250620848-24uro95ckpsuft01n1fhlt2fn6r75g1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659250620848-24uro95ckpsuft01n1fhlt2fn6r75g1a</string>
	<key>API_KEY</key>
	<string>AIzaSyC4nUIRg79DoX3W5oozDU5SjCwhjt3AhmY</string>
	<key>GCM_SENDER_ID</key>
	<string>659250620848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftbeta.SaveLink</string>
	<key>PROJECT_ID</key>
	<string>savelink-8dc5e</string>
	<key>STORAGE_BUCKET</key>
	<string>savelink-8dc5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659250620848:ios:e8bd785564fea8a6db8e75</string>
</dict>
</plist>