<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb1503654073703732</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1503654073703732</string>
    <key>FacebookClientToken</key>
    <string>32ea18babaad9eaa91dd49e926b92a97</string>
    <key>FacebookDisplayName</key>
    <string>SaveLink</string>
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
</dict>
</plist>
